html {
  line-height: 1;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
  background-color: lightskyblue;
  text-align: center;
  font-weight: bold;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

h1 {
  margin-top: 20px;
  color: white;
  font-family: "Sitka Text", sans-serif;
  font-size: 150px;
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 1;
  text-align: center;
  margin: 15px;
}

.mainContainer {
  margin-bottom: 40px;
}

.formContainer {
  padding: 5px;
}

form {
    background-color:white;
    border: 3px solid #f1f1f1;
    padding: 30px 10px 10px 10px;
    align-items: center;
    align-content: center;
    margin: 25px auto 25px auto;
    width: 50%;
    overflow: hidden;
}

form div {
    text-align: left;
    padding: 16px; 
}

form button {
  margin:0px;
  width: 100%;
}
/*align-items: center;
    text-align: left;
    padding: 0 0 20px 0;
    margin: 0px 10px 0px 10px;
    display: block;*/

input[type=checkbox] {
  margin-right: 15px;
}

input[type=text], input[type=password],  input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.container {   
  display: table;
  align-items: center;
  justify-content: center;
}

.innerContainer {
    margin: 0;
    position: absolute;
    top: 500px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}
/*
 * CSS Styles for Application
 *
 */

/* MENU UL*/
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*position: fixed;*/
  top: 0;
  width: 100%;
  background-color: midnightblue; 
  display: block;
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  object-position: left;
}

.menuItem {
  float: left;
}

.menuItem a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #5472c0;
  cursor: pointer;
}
/*end of MENU*/

.active {
  background-color: #4CAF50;
}

/* Logged in and Logged out styles*/

.loggedIn {
  visibility: collapse;
  /*display: inline-block;*/
}

.loggedOut {
  visibility: visible;
  display: inline;
}

.content {
    margin-top: 150px;
    width: 1000px;
    margin: 150px auto;
}

h1 {
    text-align: center;
    font-size: 30px;
    text-transform: capitalize;
    font-weight: bold;
    padding: 0 0 10px 0;
    color: white;
}

.ctaWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
/*
.cta, a.cta:hover, a.cta:active, a.cta:visited, button.cta:hover, button.cta:active, button.cta:visited {
    background-color: #1a1a1a;
    color: #fff;
    border-color: white;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    display: block;
    padding: 15px;
    margin: 5px 30px 5px 30px;
    width: 150px;
    cursor: pointer;
}

    .cta.blue {
        background-color: #214478 !important;
    }

    .cta.green {
        background-color: mediumseagreen !important;
    }

    .cta.yellow {
        color: black !important;
        background-color: #FFCE34 !important;
    }

    .cta.red {
        background-color: #c83737 !important;
    }*/

.warning {
    font-style: italic;
    color: #c83737;
    font-size: 17px;
    text-align: center;
    line-height: 150%;
    padding: 0 0 20px 0;
}

.formError {
    display: none;
    background-color: #c83737;
    color: #fff;
    padding: 15px 15px;
    margin: 0 0 15px 0;
    text-align: center;
    border-width: 0px;
   /* width:100%;*/
}

.formSuccess {
    display: none;
    background-color: #217844;
    font-style: italic;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 0 0 15px 0;
    text-align: center;
    border-color: #35c06d;
    border-width: 2px;
    border-style: solid;
}

hr {
    margin: 30px 0;
}

input, select, option {
    border-width: 1px;
    border-radius: 2px;
    padding: 7px 1%;
    width: auto;
    text-align: left;
}

input[type=checkbox] {
    display: inline;
  }

.checkboxGroup input {
    display: inline-block;
    width: 50px;
    margin: 20px;
    align-content: initial;
    align-self: flex-start;
}

.inputWrapper {
	text-align: left;
    padding: 0 0 20px 0;
    margin: 0px 10px 0px 10px;
	display: block;
}

.inputLabel {
    padding: 0 0 5px 0;
    color: #808080;
	text-align: left;
}
/* Log In and Sign Up buttons*/
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 25px 0px;
  border: none;
  cursor: pointer;
  width: auto;
  font-weight: bold;
  font-size: large;
}

button:hover {
  opacity: 0.8;
}
/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#sign_up{
  background-color: purple;
}

.halfScreenButton {
  float: left;
  width: 50%;
}

/* Change styles button on extra small screens */
@media screen and (max-width: 300px) {
  .halfScreenButton {
     width: 100%;
  }
}

div, span {
  color: darkblue;
  width: auto;
  
}
/*
span {
  background-color: whitesmoke;
}*/

.desc {
    text-align: center;
    color:white;
    display: table-cell;
    background-color: none;
    padding: 15px;
    font-size: medium;
    font-style: italic;
    align-self:center;
    display: block;
}

.message {
  color:white;
  font-weight: bolder;
  text-align: center;
  border: white 5px solid;
  margin: 15px auto 15px auto;
  padding: 15px;
  display: none;
  width: 200px;
  align-content: center;
  align-items: flex-start;
  align-self: flex-start;
}

.success {
  background-color: seagreen;
}

/* Dahsboard style */
.dashboard {
  margin: 10px;
  padding: 20px 40px 20px 40px;
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
.dashboard ul {
  margin: 0;
  padding: 30px 40px;
  background-color: whitesmoke;
}

.dashboard ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
.dashboard ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
.dashboard ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
.dashboard ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
.dashboard ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.dashboard .close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.dashboard .close:hover {
  background-color: #f44336;
  color: white;
}

#main_list_dashboard {
  display: table;
}

.listHeader {
  background-color: midnightblue;
  padding: 30px 40px;
  color: white;
  text-align: center;
  display: block;
}

.addBtn:hover {
  background-color: #bbb;
}